.nav-link {
    border-radius: 10px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid gray;
}
.left-sidebar {
    margin-top: 70px;
}
.sidebar-nav li .button{
    padding: 5px;
}

.nav .btn{
    text-align: left;
    color: black;
    padding: 12px;
    
}
.nav .btn:hover {
    color: white;
    background-color: midnightblue;
}
.nav .btn:focus {
    background-color:midnightblue;
    color: white;
}
.navbar .navbar-brand{
    color: black;
}
.container {
    margin-left: 400px;
    margin-top: 50px;
}
.container .conOne{
    height: 200px;
    width: 350px;
    padding-right: -100px;
    border: black solid 1px;
    
}
.container .conTwo{
    width: 210px;
    border: black solid 1px;
    margin-left: 500px;
    margin-top: -250px;
}
h2{
    margin-top: 100px;
    margin-left: 300px;
}
.table { width: 900px; margin-top: 150px; }

.navbar .logo{
    height: 500px ;
    width: 200px ;
}