<template>
  <div>
    <Header/>
    <Sidebar/>
    <h3>Book Management</h3>
        <div class="container-fluid table">
          <input class="search" type="search"  placeholder="Search" >
            <table class="table table-bordered content-center">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Copies Available</th>
                    <th scope="col" style="text-align: center;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Among Us</td>
                    <td>Gilbert Ormeneta</td>
                    <td>Science</td>
                    <td style="text-align: center;">10</td>
                      <td>
                        <div class="text-center">
                          <div class="actions btn-group-vertical">
                            <a class="btn btn-secondary m-1" >Edit</a>
                            <a  @click="modal = !modal" class="btn btn-secondary m-1" data-toggle="modal" data-target="#delete">Delete</a>
                            <a class="btn btn-secondary m-1" >Returned</a>
                            <a class="btn btn-secondary m-1" >Borrowed</a>
                          </div>
                        </div>
                      </td>
                  </tr>
                  <tr>
                    <td>Aliens in Us</td>
                    <td>Angela Encina</td>
                    <td>Fantasy</td>
                    <td style="text-align: center;">11</td>
                      <td>
                        <div class="text-center">
                          <div class="actions btn-group-vertical">
                            <a class="btn btn-secondary m-1" >Edit</a>
                            <a  @click="modal = !modal" class="btn btn-secondary m-1" data-toggle="modal" data-target="#delete">Delete</a>
                            <a class="btn btn-secondary m-1" >Returned</a>
                            <a class="btn btn-secondary m-1" >Borrowed</a>
                          </div>
                        </div>
                      </td>
                  </tr>
                  <tr>
                    <td>Science and Technology</td>
                    <td>Nancy Torre</td>
                    <td>Science</td>
                    <td style="text-align: center;">20</td>
                      <td>
                        <div class="text-center">
                          <div class="actions btn-group-vertical">
                            <a class="btn btn-secondary m-1" >Edit</a>
                            <a  @click="modal = !modal" class="btn btn-secondary m-1" data-toggle="modal" data-target="#delete">Delete</a>
                            <a class="btn btn-secondary m-1" >Returned</a>
                            <a class="btn btn-secondary m-1" >Borrowed</a>
                          </div>
                        </div>
                      </td>
                  </tr>
                </tbody>
              </table>
              <b-modal v-model="modal" no-body size="sm" title="Are you sure you want to delete?"></b-modal>
               <button  @click="modalShow = !modalShow" class="btn btn-primary addbtn" >Add Book</button>
               <div>
            <b-modal title="Add Book" v-model="modalShow"> 
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Author</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">   
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Category</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                    <label for="exampleInputEmail1">Copies Available</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </form>
            </b-modal>
        </div>
        </div>
  </div>
</template>

<script>

import Header from './Includes/Header.vue'
import Sidebar from './Includes/Sidebar.vue'

export default {
  data (){
        return{
            modalShow: false,
            modal: false
        }
    },
  name: 'Book',
  components: {
    Sidebar,
    Header
  }
}
</script>

<style scoped>
.nav-link {
    border-radius: 10px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid gray;
}
.left-sidebar {
    margin-top: 70px;
}
.sidebar-nav li .button{
    padding: 5px;
}

.nav .btn{
    text-align: left;
    color: black;
    padding: 12px;
    
}
.nav .btn:hover {
    color: white;
    background-color: midnightblue;
}
.nav .btn:focus {
    background-color:midnightblue;
    color: white;
}
.navbar .navbar-brand{
    color: black;
}
.container {
    margin-left: 400px;
    margin-top: 50px;
}
.container .conOne{
    height: 200px;
    width: 350px;
    padding-right: -100px;
    border: black solid 1px;
    
}
.container .conTwo{
    width: 210px;
    border: black solid 1px;
    margin-left: 500px;
    margin-top: -250px;
}
h2{
    margin-top: 100px;
    margin-left: 300px;
}
.table {
    width: 900px;
    margin-top: 20px;
    margin-right: 120px;
}
.actions a{
    font-size: 8px;
    font-weight: bold;
}

h3{
    margin-top: 100px;
    margin-left: 300px;
}
.table .search{
    margin-left: 600px;
    width: 300px;
}
input[type="search"] {
    font-family: FontAwesome;
}
th{
    font-size: 15px;
}
.addbtn{
    height: 50px;
    width: 150px;
    margin-left: 380px;
}
</style>
