<template id="app">
  <div>
    <Header/>
    <Sidebar/>
    <div class="row">
      <pie-chart class="" title="Borrowed and Returned Books" style="margin-top: 150px; margin-left: -200px" :data="[['Janauary','100'],['February','67'],['March','55'],['April','86'] ]"></pie-chart>
      <column-chart title="Popular Book Genre" style="width: 400px; height: 250px; margin-left: 800px; margin-top: -300px" :data="[['January','100'],['February','80'],['March','60'],['April','50']]"></column-chart>
    </div> 
  </div>
</template>

<script>

import Header from './Includes/Header.vue'
import Sidebar from './Includes/Sidebar.vue'

export default {
  name: 'Dashboard',
  components: {
    Sidebar,
    Header
  }
}
</script>

<style scoped>
</style>
