<template>
  <div>
    <Header/>
    <Sidebar/>
    <h3>Patron Management</h3>
        <div class="container-fluid table">
          <input class="search" type="search"  placeholder=" Search">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Date Registered</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Nancy Torre</td>
                    <td>Nancccy@gmail.com</td>
                    <td>10/29/2020</td>
                    <td class="actions">
                        <a class="btn btn-secondary m-1" >Edit</a>
                        <a class="btn btn-secondary m-1" @click="modal = !modal">Delete</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Angela Grace Encina</td>
                    <td>agencina@gmail.com</td>
                    <td>11/2/2020</td>
                    <td class="actions">
                        <a class="btn btn-secondary m-1" >Edit</a>
                        <a class="btn btn-secondary m-1"  @click="modal = !modal">Delete</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Gilbert Ormeneta</td>
                    <td>gormeneta@gmail.com</td>
                    <td>11/2/2020</td>
                    <td class="actions">
                        <a class="btn btn-secondary m-1" >Edit</a>
                        <a class="btn btn-secondary m-1" @click="modal = !modal">Delete</a>
                    </td>
                  </tr>
                </tbody>
            </table>
            <b-modal v-model="modal" no-body size="sm" title="Are you sure you want to delete?"></b-modal>
             <b-button class="bg-primary" style="margin-left: 380px; margin-top: 100px" @click="modalShow = !modalShow">Add Patron</b-button>
        </div>
        <div>
            <b-modal title="Add Patron" v-model="modalShow"> 
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Middle Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">   
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </form>
            </b-modal>
        </div>
    </div>
</template>

<script>

import Header from './Includes/Header.vue'
import Sidebar from './Includes/Sidebar.vue'

export default {
    data (){
        return{
            modalShow: false,
            modal: false
        }
    },
  name: 'Patron',
  components: {
    Sidebar,
    Header
  }
}
</script>

<style scoped>.nav-link {
    border-radius: 10px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid gray;
}
.left-sidebar {
    margin-top: 70px;
}
.sidebar-nav li .button{
    padding: 5px;
}

.nav .btn{
    text-align: left;
    color: black;
    padding: 12px;
    
}
.nav .btn:hover {
    color: white;
    background-color: midnightblue;
}
.nav .btn:focus {
    background-color:midnightblue;
    color: white;
}
.navbar .navbar-brand{
    color: black;
}
.container {
    margin-left: 400px;
    margin-top: 50px;
}
.container .conOne{
    height: 200px;
    width: 350px;
    padding-right: -100px;
    border: black solid 1px;
    
}
.container .conTwo{
    width: 210px;
    border: black solid 1px;
    margin-left: 500px;
    margin-top: -250px;
}
h2{
    margin-top: 100px;
    margin-left: 300px;
}
.table {
    width: 900px;
    margin-top: 20px;
    margin-right: 120px;
}
.actions a{
    font-size: 10px;
}
.patron{
    margin-top: 160px;
    margin-left: 380px;
    height: 50px;
    width: 150px;
}
h3{
    margin-top: 100px;
    margin-left: 300px;
}
.table .search{
    margin-left: 600px;
    width: 300px;
}
input[type="search"] {
    font-family: FontAwesome;
}
.overlay{
    position: fixed;
    top: 10%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    background-color: rgba(0, 0, 0, .3);
}
</style>
