<template>
  <div>
    <Header/>
    <Sidebar/>
  </div>
</template>

<script>
import Header from './Includes/Header.vue'
import Sidebar from './Includes/Sidebar.vue'

export default {
  name: 'Setting',
  components: {
    Sidebar,
    Header
  }
}
</script>

<style scoped>
</style>
