<template>
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 bg-light sidebar">
                            <div class="left-sidebar">
                                <ul class="nav flex-column">
                                    <a class="btn mb-2 mt-5" href="/"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-laptop" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z"/>
                                    <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z"/></svg> Dashboard </a>
                                    <a class="btn mb-2 mt-2" href="/Patron"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/></svg> Patron Management </a>
                                    <a class="btn mb-2 mt-2" href="/Book" > <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/></svg> Book Management </a>
                                    <a type="button" class="btn mb-2 mt-2" href="/Setting"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/></svg> Setting </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</template>

<script>

export default {
}
</script>

<style scoped>
.nav-link {
    border-radius: 10px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid gray;
}
.left-sidebar {
    margin-top: 70px;
}
.sidebar-nav li .button{
    padding: 5px;
}

.nav .btn{
    text-align: left;
    color: black;
    padding: 12px;
    
}
.nav .btn:hover {
    color: white;
    background-color: midnightblue;
}
.nav .btn:focus {
    background-color:midnightblue;
    color: white;
}
.navbar .navbar-brand{
    color: black;
}
.container {
    margin-left: 400px;
    margin-top: 50px;
}
.container .conOne{
    height: 200px;
    width: 350px;
    padding-right: -100px;
    border: black solid 1px;
    
}
.container .conTwo{
    width: 210px;
    border: black solid 1px;
    margin-left: 500px;
    margin-top: -250px;
}
h3{
    margin-top: 100px;
    margin-left: 300px;
}
.table {
    width: 900px;
    margin-top: 150px;
}

</style>