<template>
  <div class="home">
    <img class="title" src="../assets/BEL.png" fluid alt="cover">
    <div class="nav float-right m-2">
      <b-nav>
        <b-button variant="light m-2">Home</b-button>
        <b-button variant="light m-2">Shop</b-button>
        <b-button variant="light m-2">Category</b-button>
        <b-button variant="light m-2">Contact</b-button>
      </b-nav>
    </div>
    <div class="container">
        <img src="../assets/cover.jpg" fluid alt="cover">
        <b-button class="btn">SHOP NOW</b-button>
       <div class="text-block">
          <div class="upper">
            <h1 style="font-size:4vw;">GET OUR</h1>
          </div>
            <h1 style="font-size:4vw;">NEW COLLECTION</h1>
       </div>
    </div>
            <h3 style="font-size:4vw;">New Products</h3>
    <div class="row">
      <div v-for="product in products" :key="product.id">
        <div class="card m-4" style="width: 25vw;">
            <img class="card-img-top" :src="product.img" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.description}}</p>
          </div>
        </div>
      </div>
            <b-button class="btn2">Shop all</b-button>
    </div>
    <div class="story">
        <img src="../assets/STORY.png" fluid alt="cover">
        <h2 class="card"> Our goal is to simplify and convenience our Filipino entrepreneurs participating in the clothing business model with a sustainable influx of new, gently, ussed and warm-climate shirts, jeans, shorts and shoes.</h2>
    </div>
        <b-button class="btn1" >Shop by Category</b-button>
    <div class="row">
      <div v-for="categorys in category" :key="categorys.id">
        <img class="cards m-4" :src="categorys.img" alt="Card image cap">
      </div>
  </div>
  <div class="edit">
  <img src="../assets/edit.png" fluid alt="cover">
  </div>
      <b-button class="btn3 overlay" >Featured Products</b-button>
  <div class="row">
      <div v-for="fprod in featured" :key="fprod.id">
        <div class="card m-4" style="width: 25vw;">
          <img class="card-img-top" :src="fprod.img" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{fprod.title}}</h5>
            <p class="card-text">{{fprod.description}}</p>
          </div>
        </div>
      </div>
            <b-button class="btn2">Shop all</b-button>
  </div>
      <div class="services">
        <div class="row m-5">
          <div class="col">
            <img src="../assets/shipping.jpg" fluid alt="cover">
            <p class="card1">SHIPPING</p>
          </div>
          <div class="col">
            <img src="../assets/return.png" fluid alt="cover">
            <p class="card2">RETURN POLICY</p>
          </div>
          <div class="col">
            <img src="../assets/service.jpg" fluid alt="cover">
            <p class="card3">SERVICES</p>
          </div>
       </div>
     </div>
      <div class="footer">
        <div class="col m-2">
          <div class="address">
            <img class="1" src="../assets/location.png">
            <p>96 Kalipayan St. Tacloban City Leyte Phillipines</p>
          </div>
        </div>
        <div class="col m-2">
          <div class="contact">
            <img class="2" src="../assets/call.png">
            <p>09380057240 / 09069255939</p>
          </div>
        </div>
        <div class="logos">
          <img class="2" src="../assets/fb.jpg">
          <img class="2" src="../assets/gmail.png">
          <img class="2" src="../assets/insta.jpg">
       </div>
       <div class="rightside">
          <p>Recieve Notifications about us</p>
          <div class="textbox">
            <b-form-input id="input-small" placeholder="Name"></b-form-input>
          </div>
          <div class="textbox1">
            <b-form-input id="input-small" placeholder="Email Address"></b-form-input>
          </div>
             <b-button class="btn1" >SUBMIT</b-button>
       </div>
      </div>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  data () {
    return {
      products: [
        {
          id: 1,
          img: require('../assets/1.jpg'),
          title: 'Stylish V-neck Half Sleeve',
          description: '269 php'
        },
        {
          id: 2,
          img: require('../assets/2.jpg'),
          title: 'Kids Basic Plain Lace',
          description: '185 php'
        },
        {
          id: 3,
          img: require('../assets/3.jpg'),
          title: 'Mom Jeans',
          description: '1,999 php'
        },
        {
          id: 4,
          img: require('../assets/4.webp'),
          title: 'Khaki Green Palm Print',
          description: '390 php'
        },
        {
          id: 5,
          img: require('../assets/5.jpg'),
          title: 'Fila shoes for Women',
          description: '1,120 php'
        },
        {
          id: 6,
          img: require('../assets/6.jpg'),
          title: 'Korean Fashion Tshir for Kids',
          description: '179 php'
        }
      ],
      category: [
        {
          img: require('../assets/WOMEN.png')
        },
        {
          img: require('../assets/plus.png')
        },
        {
          img: require('../assets/MEN.png')
        },
        {
          img: require('../assets/kids.png')
        },
        {
          img: require('../assets/shoes.png')
        },
        {
          img: require('../assets/BAGS.png')
        }
      ],
      featured: [
        {
          id: 1,
          img: require('../assets/featured1.jpg'),
          title: 'Vintage Geometric Earrings',
          description: '250 php'
        },
        {
          id: 2,
          img: require('../assets/featured2.jpg'),
          title: 'Interlocked Hearts Necklace',
          description: '300 php'
        },
        {
          id: 3,
          img: require('../assets/featured3.jpg'),
          title: 'Fogg 1164- Brown',
          description: '3,225 php'
        }
      ]
    }
  },
  name: 'Home',
  components: {
  }
}
</script>

<style scoped>
.footer .rightside .btn1{
  height: 30px;
  width: 150px;
  font-size: 15px;
  margin-left: 1045px;
  margin-top: 10px;
  padding: 0px;
  border: solid white;
  border-radius: 10px;
}
.footer .rightside p{
  font-size: 20px;
  margin-left: 580px;
  margin-top: -210px;
}
.footer .rightside .textbox{
  margin-bottom: 10px;
  width: 400px;
  margin-left: 800px;
}
.footer .rightside .textbox1{
  width: 400px;
  margin-left: 800px;
}
.footer .logos img{
  margin-top: 40px;
  margin-left: 88px;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.footer .col .address img{
  margin-top: 50px;
}
.footer .col .address p{
  margin-top: -35px;
  font-family: bold;
  font-size: 20px;
}
.footer .col .contact p{
  margin-top: -35px;
  font-family: bold;
  font-size: 20px;
}
.footer .col img{
  margin-top: 40px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  border-radius: 30px;
  padding: 0px;
}
.footer .col p{
  font-size: 15px;
  text-align: justify;
  margin-left: 120px;
}
.footer .col{
  padding-left: 50px;
}
.footer{
  height: 300px;
  background-color:palevioletred ;
}
.services .row{
  background-color: white;
  padding-left: 35px;
}
.services .row .col img{
  height: 80PX;
  width: 80px;
  border: solid 2px black;
  border-radius: 400px;
  margin-left: 130px
}
.services p{
  margin-left: -35px;
}
.edit img{
  height: 400px;
  width: 1200px;
  margin: 50px;
  margin-left: 75px;
  border: solid 3px black;
}
.btn1{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 540px;
  background-color:whitesmoke;
  color: black;
}
.btn3{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 540px;
  background-color:white;
  color: black;
}
.row .cards{
  height: 350px;
  width: 550px;
  padding-right: 40px;
}
.category button{
  background-color: lightgray;
  color: black;
  border: solid 1px white;
  margin-top: 50px;
  margin-left: 600px;
}
.story img{
  height: 300px;
  width: 520px;
  margin-left: 40px;
  border: solid 3px white;
}
p{
  text-align: center;
  font-size: 25px;
  font-family:monospace;
}
.row{
  margin-left: 20px;
  margin-right: 20px;
  background-position: center;
  background-color:whitesmoke;
  padding-left: 75px;
  padding-bottom: 100px;
}
.row img{
  height: 300px;
  width: 200px;
  margin-left: 70px;
  padding-top: 10px;
}
.text-block {
  position: absolute;
  background-color: transparent;
  color: black;
  top: 100px;
  left:100px;
  font-family: cursive;
}
.text-block .upper{
  margin-left: 120px;
}
  .container {
  position: relative;
  width: 1500px;
}
  .container img {
  width: 1320px;
  height: auto;
  margin-left: -100px;
}
.home .title{
  margin-left: 30px;
  padding-top: 20px;
}
.container .btn {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:white;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  box-shadow: 3px 3px;
  cursor: pointer;
  border-radius: 30px;
}
.row .btn{
  margin-left: 520px;
  background-color:white;
  color: black;
  font-size: 20px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}
.nav{
  margin-top: 20px;
  margin-right: 50px;
  color: black;
}
h4{
  margin-top: 20px;
  margin-left: 110px;
}
h3{
  margin-top: 80px;
  margin-left:510px;
}
h5{
  padding: 10px;
  background-color:rgb(230,230,230);
  font-family:Arial, Helvetica, sans-serif bold;
  text-align: center;
  color: black;
}
h2{
  position: absolute;
  font-size: 25px;
  margin-left: 650px;
  margin-right: 100px;
  margin-top: -300px;
  text-align: justify;
  padding: 45px;
  border: solid 1px black;
}
.story{
  background-color: lightgray;
  height: 400px;
  padding: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
</style>
